[run]
omit =
    */site-packages/*
    */dist-packages/*
    */distutils/*
    tests/*

plugins =
  coverage_conditional_plugin

[report]
exclude_lines =
    pragma: no cover
    if typing.TYPE_CHECKING:

    @abstractmethod

[coverage:coverage_conditional_plugin]
omit =
  "platform_system != 'Linux'":
      "wakepy/dbus_adapters/*.py"

rules =
  "platform_system != 'Linux'": no-cover-if-no-dbus