# This only supports Python 3.8+
mypy==1.11.2; python_version>='3.8'
# Last mypy version to support Python 3.7
mypy==1.4.1; python_version=='3.7'


# For mypy:
pytest -c requirements-test.txt
types-colorama
types-colorama==0.4.15.12; python_version>='3.7'

