# These are the requirements for development. If you're installing wakepy
# source tree for development (pip install -e .), add this file as a
# requirement. The other requirements files are used for automation.
-r requirements-test.txt
-r requirements-docs.txt
-r requirements-check.txt

# On Windows, cannot use later version of sphinx-autobuild until
# https://github.com/sphinx-doc/sphinx-autobuild/issues/197 is resolved.
# See also: https://github.com/fohrloop/wakepy/issues/444
sphinx-autobuild==2024.4.16
IPython
invoke==2.2.0
# Colorama is used with the tasks.py (invoke commands)
colorama==0.4.6
